section.container{
	width:600px;
	overflow: hidden;
}
section.slider{
	width: 3000px;
	min-height: 327px;
	position: relative;
	-webkit-transition: left 1s;

	
}
section.slider:hover{

}
section.slider section.b1{
	min-height:327px;
	width: 600px;
	background-image: url('images/b1.jpg');
	float: left;
}
section.slider section.b2{
	min-height:327px; 
	width: 600px;
	background-image: url('images/b2.jpg');
	float: left;
}
section.slider section.b1 section{
	width:100px;
	min-height:327px;
	float: left;
}
section.slider section.b2 section{
	width:100px;
	min-height:327px;
	float: left;
}
section.slider section.b3{
	min-height:327px; 
	width: 600px;
	background-image: url('images/b3.jpg');
	float: left;
}
section.slider section.b3 section{
	width:100px;
	min-height:327px;
	float: left;
}
section.slider section.b4{
	min-height:327px; 
	width: 600px;
	background-image: url('images/b4.jpg');
	float: left;
}
section.slider section.b4 section{
	width:100px;
	min-height:327px;
	float: left;
}
section.slider section.b5{
	min-height:327px; 
	width: 600px;
	background-image: url('images/b5.jpg');
	float: left;
}
section.slider section.b5 section{
	width:100px;
	min-height:327px;
	float: left;
}
section.img2{
	background-position: -100px;
	-webkit-animation-delay: 1s;
}
section.img3{
	background-position: -200px;

}
section.img4{
	background-position: -300px;

}
section.img5{
	background-position: -400px;

}
section.img6{
	background-position: -500px;

}
ul.btns{
	margin-top: 20px;
}
ul.btns li{
	float: left;
	width: 50px;
	height: 30px;
	background-color:black;
	margin-right: 20px;

}
li.b1{
	background-image: url('images/b1s.jpg');
}
li.b2{
	background-image: url('images/b2s.jpg');
}
li.b3{
	background-image: url('images/b3s.jpg');

}
li.b4{
	background-image: url('images/b4s.jpg');

}
li.b5{
	background-image: url('images/b5s.jpg');

}
