section.container{
	width:600px;
	overflow: hidden;
}
section.slider{
	width: 1500px;
	min-height: 327px;
	position: relative;
}
section.slider section.b1{
	min-height:327px;
	width: 600px;
	background-image: url('images/b1.jpg');
	float: left;
}
section.slider section.b2{
	min-height:327px;
	width: 600px;
	background-image: url('images/b2.jpg');
	float: left;
}
section.slider section.b1 section{
	width:100px;
	min-height:327px;
	float: left;
}
section.slider section.b2 section{
	width:100px;
	min-height:327px;
	float: left;
}
section.img2{
	background-position: -100px;
}
section.img3{
	background-position: -200px;

}
section.img4{
	background-position: -300px;

}
section.img5{
	background-position: -400px;

}
section.img6{
	background-position: -500px;

}







